@charset "UTF-8";

// theme - has to be edited in ../sierra/sierra.scss as well
@import "../sierra/default.theme";

// config
@import 'variables';

// components
@import 'components';

.main {
  margin-top: $nav-height;
}

.main-game-table {
  table-layout: fixed;
}

.game-table td {
  vertical-align: baseline;
}

.game-table td > img {
  vertical-align: middle;
}

.game-table .game-image {
  margin: 10px;
  border: 1px solid $shadow-color;
}