$table-cell-height: 55px;
$table-cell-spacing: 10px;
$image-size: 34px;

.main-game-table {
  table-layout: fixed;
}

.game-table td {
  vertical-align: baseline;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-table td.empty {
  height: $table-cell-height;
}

.game-table td div img {
  vertical-align: middle;
}

.game-table td div.image {
  display: inline-block;
  vertical-align: middle;
  margin: $table-cell-spacing;
  height: 34px;
  width: 34px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiBAMAAADIaRbxAAAAG1BMVEUsPlD6+vp5hI+ss7rGy8/g4uSTnKVfbXpFVWWPzx9SAAAASklEQVQoz2NgGLKAySRQ1A1FhCW9gaMkAkOhG4ZICoaIMboARxC6SGsCugMwlJg0oAkwO6AraURXwqCC4ZgiInyvRoSnUgZHRAEAY5IIjtm8TWwAAAAASUVORK5CYII=') no-repeat;
}

.game-table .game-image {
  border: 1px solid $shadow-color;
  width: $image-size;
  height: $image-size;
}

.table {
  td {
    padding: 0 $table-cell-spacing;
  }

  th {
    padding: $table-cell-spacing;
  }

  th:first-child {
    padding-left: $table-cell-spacing;
  }
}