spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
  datasource:
    platform: postgres
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/steamtracker
    username: steamtracker
    password: steamtracker

server:
  port: 8891
  error:
    whitelabel:
      enabled: false

logging:
  path: /opt/steam-tracker/logs/
  file: stdout.log

steamtracker:
  timezone: GMT
  steam:
    api-key: <key>

updater:
  disable-scheduled-tasks: false
  automatic-update-interval: 720
  snapshot-update-interval: 360
  snapshots-page-size: 100
  snapshots-chunk-size: 100