spring:
  jpa:
    hibernate:
      ddl-auto: update

steamtracker:
  timezone: GMT
  steam:
    api-key: <key>
  updater:
    enable-manual-updating: false
    automatic-update-interval: 720
    snapshot-update-interval: 360
    snapshots-page-size: 100
    snapshots-chunk-size: 100
