spring:
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8891

steamtracker:
  timezone: GMT
  steam:
    api-key: <key>

disable-scheduled-tasks: false
automatic-update-interval: 720
snapshot-update-interval: 360
snapshots-page-size: 100
snapshots-chunk-size: 100