[Unit]
Description=Steam Tracker
After=network.target

[Service]
Type=simple
User=steamtracker
Group=steamtracker
WorkingDirectory=/opt/steam-tracker
ExecStart=/usr/bin/java -jar /opt/steam-tracker/steam-tracker.jar --spring.profiles.active=production
Restart=on-failure
PrivateTmp=true
PrivateDevices=true
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target