backend_directory: /opt/steamtracker-backend
backend_jar: steamtracker-backend.jar
backend_jar_path: ../backend/build/{{ backend_jar }}

backend_systemd_unit_user: steamtracker
backend_systemd_unit_group: steamtracker
backend_systemd_service: steamtracker-backend.service
backend_systemd_unit_destination: /etc/systemd/system/{{ backend_systemd_service }}
backend_systemd_start_file: run-backend.j2
backend_systemd_start_file_remote: "{{ backend_directory }}/run-backend"